@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');

:root {
    --clr-background: white;
    --clr-accent:#1E6249;
    --clr-button: #3EC193;
    --clr-card: #f5f5f5;
    --padding-medium: 25px;
    --padding-small: 15px;
    --font-main:'Inter', sans serif;
    --font-size-h1: 80px;
    --font-size-h2: 64px;
    --font-size-h3: 40px;
    --font-size-large: 30px;
    --font-size-medium: 24px;
    --font-size-button: 20px;
    --font-size-small: 16px;
    --button-height-large: 55px;
    --button-width-large: 250px;
    --button-border-large: 12.5px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

h1 {
    /*text*/
    font-size: var(--font-size-h1);
}

h2 {
    /*text*/
    font-size: var(--font-size-h2);
}

h3 {
    /*text*/
    font-size: var(--font-size-h3);
}

a {
    /*text*/
    text-decoration: none;
    color: inherit;
}

body {
    /*box*/
    background-color: var(--clr-background);
}
header {
    /*position*/
    position: absolute;
}

#nav-bar {
    /*dimensions*/
    width: 100vw;
    height: 0;
    visibility: hidden;
    /*flex-box*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /*box*/
    background-color: var(--clr-accent);
    /*text*/
    color: var(--clr-background);
    font-size: var(--font-size-medium);
    /*animation*/
    transition: 0.3s ease-in-out;
}
#nav-edge {
    /*position*/
    /*dimensions*/
    height: 15px;
    /*box*/
    background-color: var(--clr-accent);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    /*animation*/
    transition: height 0.3s ease;
}
#nav-button {
    /*position*/
    margin: 0 auto;
    padding-bottom:15px;
    /*dimensions*/
    width: 80px;
    height: 30px;    
    /*flex-box*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /*box*/
    background-color: var(--clr-accent);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    /*text*/
    color: var(--clr-background);
    font-size: var(--font-size-large);
}
#nav-button:hover ~ #nav-edge {
    /*animation*/
    height: 25px;
}
#landing-container {
    /*position*/
    padding:var(--padding-medium);
    gap: 30px;
    /*dimensions*/
    height: 100vh;
    /*flex-box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*text*/
    text-align: center;
}

.button-large {
    /*position*/
    /*dimensions*/
    height: var(--button-height-large);
    width: var(--button-width-large);
    /*flex-box*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*box*/
    background-color: var(--clr-button);
    border-radius: var(--button-border-large);
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    /*text*/
    color: var(--clr-background);
    font-size: var(--font-size-button);
    /*animation*/
    transition: 0.3s ease;
}
.button-large:hover {
    /*animation*/
    transform: scale(1.1);
}

.general-container {
    /*position*/
    padding: var(--padding-medium);
    /*dimensions*/
    height: 100vh;
}

#dashboard-container {
    /*position*/
    padding: var(--padding-medium);
    gap: 25px;
    /*flex-box*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.title-container {
    /*positiont*/
    padding: var(--padding-medium)
}

.dashboard-item {
    /*dimensions*/
    min-width: 45%;
    height: 300px;
    /*flex-box*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /*box*/
    background-color: var(--clr-card);
    border-radius: var(--button-border-large);
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
}

.dashboard-text {
    /*position*/
    padding: var(--padding-small);
    /*text*/
    line-height: 40px;
    text-align: right;
}