@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');

:root {
    --clr-background: white;
    --clr-accent:#1E6249;
    --clr-button: #3EC193;
    --clr-card: #f5f5f5;
    --clr-font-sub:#606b5c;
    --padding-medium: 25px;
    --padding-small: 15px;
    --padding-extra-small: 5px;
    --font-main:'Inter', sans serif;
    --font-size-h1: 80px;
    --font-size-h2: 64px;
    --font-size-h3: 40px;
    --font-size-large: 30px;
    --font-size-medium: 24px;
    --font-size-button: 20px;
    --font-size-small: 16px;
    --button-height-large: 55px;
    --button-width-large: 250px;
    --button-border-large: 12.5px;
    --button-height-medium: 35px;
    --button-width-medium: 125px;
    --button-border-medium: 8.5px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

h1 {
    /*text*/
    font-size: var(--font-size-h1);
    letter-spacing: 0.1px;
}

h2 {
    /*text*/
    font-size: var(--font-size-h2);
    letter-spacing: 0.1px;
}

h3 {
    /*text*/
    font-size: var(--font-size-h3);
}

a {
    /*text*/
    text-decoration: none;
    color: inherit;
}

p {
    /*text*/
    color:var(--clr-font-sub)
}

body {
    /*box*/
    background-color: var(--clr-background);
}
header {
    /*position*/
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
}

#nav-bar {
    /*dimensions*/
    width: 100vw;
    height: 0;
    visibility: hidden;
    /*flex-box*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /*box*/
    background-color: var(--clr-accent);
    /*text*/
    color: var(--clr-background);
    font-size: var(--font-size-medium);
    /*animation*/
    transition: 0.3s ease-in-out;
}

#nav-bar a {
    /*animation*/
    transition: 0.3s ease;
}

#nav-bar a:hover {
    /*animation*/
    text-decoration: underline;
    transform: scale(1.1);
}
#nav-edge {
    /*position*/
    /*dimensions*/
    height: 15px;
    /*box*/
    background-color: var(--clr-accent);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    /*animation*/
    transition: height 0.3s ease;
}
#nav-button {
    /*position*/
    margin: 0 auto;
    padding-bottom:var(--padding-small);
    /*dimensions*/
    width: 80px;
    height: 30px;    
    /*flex-box*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    /*box*/
    background-color: var(--clr-accent);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    /*text*/
    color: var(--clr-background);
    font-size: var(--font-size-large);
    /*animation*/
    transition: 0.3s ease;
}
#nav-button:hover {
    /*animation*/
    transform: scale(1.1);
}
#landing-container {
    /*position*/
    padding:var(--padding-medium);
    gap: 30px;
    /*dimensions*/
    height: 100vh;
    /*flex-box*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*text*/
    text-align: center;
}

.button-large {
    /*position*/
    /*dimensions*/
    height: var(--button-height-large);
    width: var(--button-width-large);
    /*flex-box*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*box*/
    background-color: var(--clr-button);
    border-radius: var(--button-border-large);
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    border: none;
    /*text*/
    color: var(--clr-background);
    font-size: var(--font-size-button);
    /*animation*/
    transition: 0.3s ease;
}
.button-large:hover {
    /*animation*/
    transform: scale(1.1);
}

.general-container {
    /*position*/
    padding: var(--padding-medium);
    /*dimensions*/
    height: 100vh;
}

.content-container {
    /*position*/
    padding: var(--padding-medium);
    gap: 25px;
    text-align:center;
    /*dimensions*/
    width: fit-content;
    /*flex-box*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.title-container {
    /*positiont*/
    padding: var(--padding-medium)
}

.dashboard-item {
    /*dimensions*/
    max-width: 450px;
    min-width: 45%;
    height: 300px;
    /*flex-box*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /*box*/
    background-color: var(--clr-card);
    border-radius: var(--button-border-large);
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    /*animation*/
    transition: 0.3s ease;
}

.dashboard-item:hover {
    /*animation*/
    transform: scale(1.1);
}
.dashboard-img {
    overflow: hidden;
    height: 100%;
    background-color: var(--clr-background);
}

.dashboard-img img{
    width: 100%;
    object-fit: fill;
    object-position: center;
}

.dashboard-text h3{
    /*position*/
    padding: var(--padding-extra-small) var(--padding-small) 0;
    /*text*/
    text-align: right;
}

.dashboard-text p {
    /*position*/
    padding: 0 var(--padding-small) var(--padding-extra-small);
    /*text*/
    font-size: var(--font-size-small);
    line-height: 20px;
    text-align: right;
}

.general-subheader {
    /*position*/
    padding: var(--padding-medium) 0;
    /*text*/
    font-size: var(--font-size-medium);
}

.add-remove-item {
    /*dimensions*/
    width: 300px;
    height: 150px;
    /*flex-box*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /*box*/
    border: var(--clr-card) 2px dashed;
    border-radius: var(--button-border-large);
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    /*animation*/
    transition: 0.3s ease;
}

.add-remove-item:hover {
    transform: scale(1.1);
}
.pantry-item:hover {
    transform: scale(1.1);
}
.pantry-counter {
    /*dimensions*/
    width: 100%;
    height:100%;
    /*flex-box*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.add-remove{
    /*dimensions*/
    width: 50px;
    height:50px;
    /*flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*box*/
    border: rgba(0,0,0,0.2) dashed 3px;
    border-radius: 50%;
    /*text*/
    font-size: var(--font-size-large);
}
.pantry-text, .add-remove-text {
    /*position*/
    padding: 5px var(--padding-small);
    /*dimensions*/
    width: 90%;
    /*flex-box*/
    display: flex;
    justify-content: space-between;
    /*box*/
    border-top: none;
}
.pantry-text h3{
    /*position*/
    padding: 0 var(--padding-small);
    /*flex-box*/
    display: flex;
    align-items: center;
    /*text*/
    text-align: right;
}

#list-selection {
    /*position*/
    gap: 10px;
    /*flex-box*/
    display: flex;
}

#pre-list {
    /*position*/
    padding: var(--padding-extra-small);
    /*dimensions*/
    width: var(--button-width-medium);
    /*box*/
    background-color: var(--clr-card);
    border: none;
    border-radius: var(--button-border-large);
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;;
    /*text*/
    font-size: var(--font-size-small);
    /*animation*/
    transition: 0.3s ease;
}

#pre-list:hover {
    /*animation*/
    transform: scale(1.1);
}

.button-medium {
    /*position*/
    /*dimensions*/
    height: var(--button-height-medium);
    width: var(--button-width-medium);
    /*flex-box*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*box*/
    background-color: var(--clr-button);
    border: none;
    border-radius: var(--button-border-medium);
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    /*text*/
    color: var(--clr-background);
    font-size: var(--font-size-button);
    /*animation*/
    transition: 0.3s ease;
}

.medium-button:hover{
    /*animation*/
    transform: scale(1.1);
}
#add-ingredient-form {
    /*position*/
    position:fixed;
    top: 20vh;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    opacity: 0;
    visibility: hidden;
    /*flex-box*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*box*/
    background-color: var(--clr-card);
    border-radius: var(--button-border-large);
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    /*animation*/
    transition: 0.5s ease;
}

#add-ingredient-form.visible {
    opacity: 1;
    visibility: visible;
}

#add-ingredient-form form {
    /*position*/
    padding: var(--padding-small) var(--padding-medium);
    /*dimensions*/
    height: 80%;

    /*flex-box*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button-close {
    /*position*/
    position: absolute;
    top: 10px;
    right: 10px;
    /*dimensions*/
    width: fit-content;
    /*text*/
    transform: rotate(45deg);
    font-size: var(--font-size-large);
}
.button-close:hover {
    color: var(--clr-button);
}

.form-entry {
    /*position*/
    padding: var(--padding-small) 0;
}

.form-entry>input {
    /*position*/
    padding: var(--padding-extra-small);
    /*dimensions*/
    width: 100%;
    /*flex-box*/
    display: flex;
    /*box*/
    background-color: var(--clr-background);
    border: var(--clr-accent) 1px solid;
    border-radius: var(--button-border-large);
    /*text*/
    font-size: var(--font-size-small);
}

#add-ingredient-buttons {
    /*position*/
    padding: var(--padding-small) 0 0;
    gap: 10px;
    /*flex-box*/
    display: flex;
    flex-direction: row;
}

#button-reset {
    /*box*/
    background-color: var(--clr-background);
    /*tex*/
    color: inherit;
}
.pantry-item {
    /*dimensions*/
    width: 300px;
    height: 150px;
    /*flex-box*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    /*box*/
    background-color: var(--clr-card);
    border: var(--clr-card) 2px dashed;
    border-radius: var(--button-border-large);
    box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
    /*animation*/
    transition: 0.3s ease;
}

.counter{
    /*dimensions*/
    width: 50px;
    height:50px;
    /*flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*box*/
    border-radius: 50%;
    /*text*/
    font-size: var(--font-size-large);
}

footer {
    /*position*/
    /*dimensions*/
    width: 100vw;
    min-height: 200px;
    /*box*/
    background-color: var(--clr-card);
    border-radius: var(--button-border-large) var(--button-border-large) 0 0;
}