/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');

:root {
    --clr-background: white;
    --clr-accent: #1E6249;
    --clr-button: #3EC193;
    --clr-button-red: #ec4747;
    --clr-card: #f5f5f5;
    --clr-font-sub: #606b5c;
    --padding-medium: 25px;
    --padding-small: 15px;
    --padding-extra-small: 5px;
    --font-main: 'Inter', sans-serif;
    --font-size-h1: 80px;
    --font-size-h2: 64px;
    --font-size-h3: 40px;
    --font-size-large: 30px;
    --font-size-medium: 24px;
    --font-size-button: 20px;
    --font-size-small: 16px;
    --font-size-extra-small: 8px;
    --button-height-large: 55px;
    --button-width-large: 250px;
    --button-border-large: 12.5px;
    --button-height-medium: 35px;
    --button-width-medium: 125px;
    --button-border-medium: 8.5px;
    --box-shadow: rgba(0,0,0,0.2) 0 2px 2px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
}

h1 {
    font-size: var(--font-size-h1);
    letter-spacing: 0.1px;
}

h2 {
    font-size: var(--font-size-h2);
    letter-spacing: 0.1px;
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-large);
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    color: var(--clr-font-sub);
}

body {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--clr-background);
}

header {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    top: 0;
    left: 0;
}

#nav-bar {
    height: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: var(--clr-accent);
    color: var(--clr-background);
    font-size: var(--font-size-medium);
    -webkit-transition: height 0.3s ease, visibility 0.3s ease;
    -o-transition: height 0.3s ease, visibility 0.3s ease;
    transition: height 0.3s ease, visibility 0.3s ease;
}

#nav-bar a {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

#nav-bar a:hover {
    text-decoration: underline;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

#nav-edge {
    height: 15px;
    background-color: var(--clr-accent);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    -webkit-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

#nav-button {
    margin: 0 auto;
    padding-bottom: var(--padding-small);
    width: 80px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: var(--clr-accent);
    border: none;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    color: var(--clr-background);
    font-size: var(--font-size-large);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#nav-button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

#landing-container {
    padding: var(--padding-medium);
    gap: 30px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.button-large {
    height: var(--button-height-large);
    width: var(--button-width-large);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--clr-button);
    border-radius: var(--button-border-large);
    -webkit-box-shadow:var(--box-shadow);
            box-shadow:var(--box-shadow);
    border: none;
    color: var(--clr-background);
    font-size: var(--font-size-button);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.button-large:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.general-container {
    padding: var(--padding-medium);
    min-height: 100vh;
}

.title-container {
    padding: var(--padding-medium);
}

.general-subheader {
    padding: var(--padding-small) 0;
    font-size: var(--font-size-medium);
}

.dashboard-container {
    gap: 25px;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
}

.dashboard-item {
    max-width: 650px;
    min-width: 35%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: var(--clr-card);
    border-radius: var(--button-border-large);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.dashboard-item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.dashboard-img {
    overflow: hidden;
    width: 100%;
    background-color: var(--clr-background);
}

.dashboard-img img {
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    -o-object-position: center;
       object-position: center;
}

.dashboard-text h3 {
    padding: var(--padding-extra-small) var(--padding-small) 0;
    text-align: right;
}

.dashboard-text p {
    padding: 0 var(--padding-small) var(--padding-extra-small);
    font-size: var(--font-size-small);
    line-height: 20px;
    text-align: right;
}

#add-item-button {
    width: 300px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border: var(--clr-card) 2px dashed;
    border-radius: var(--button-border-large);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#add-item-button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.pantry-container { 
    padding: var(--padding-medium);
    gap: 25px;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-line-pack: center;
        align-content: center;
}

.pantry-item {
    width: 300px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: var(--clr-background);
    border: var(--clr-card) 2px solid;
    border-radius: var(--button-border-large);
    -webkit-box-shadow:var(--box-shadow);
            box-shadow:var(--box-shadow);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.add-remove {
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: rgba(0,0,0,0.2) dashed 3px;
    border-radius: 50%;
    font-size: var(--font-size-large);
}

.pantry-text, .add-item-text {
    padding: 5px var(--padding-small);
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: var(--clr-button);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.pantry-title {
    text-align: right;
    font-size: var(--font-size-large);
    color: black;
}

#list-selection {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#pre-list {
    padding: var(--padding-extra-small);
    width: var(--button-width-medium);
    background-color: var(--clr-card);
    border: none;
    border-radius: var(--button-border-large);
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    font-size: var(--font-size-small);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

#pre-list:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.button-medium {
    height: var(--button-height-medium);
    width: var(--button-width-medium);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--clr-button);
    border: none;
    border-radius: var(--button-border-medium);
    -webkit-box-shadow:var(--box-shadow);
            box-shadow:var(--box-shadow);
    color: var(--clr-background);
    font-size: var(--font-size-button);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.button-medium:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

#form-container {
    padding: var(--padding-small) var(--padding-medium);
    width: 80%;
    max-width: 400px;
    position: fixed;
    z-index:1000;
    top: 20vh;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    margin: auto;
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--clr-card);
    border-radius: var(--button-border-large);
    -webkit-box-shadow:var(--box-shadow);
            box-shadow:var(--box-shadow);
    -webkit-transition: opacity 0.5s ease, visibility 0.5s ease;
    -o-transition: opacity 0.5s ease, visibility 0.5s ease;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    font-size: var(--font-size-large);
}

.button-close:hover {
    color: var(--clr-button);
}

.form-entry {
    padding: var(--padding-small) 0;
}

.form-entry > input {
    padding: var(--padding-extra-small);
    width: 100%;
    background-color: var(--clr-background);
    border: var(--clr-accent) 1px solid;
    border-radius: var(--button-border-large);
    font-size: var(--font-size-small);
}
.form-entry > label {
    font-size: var(--font-size-medium);
}
#add-ingredient-buttons {
    padding: var(--padding-small) 0 0;
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#button-reset {
    background-color: var(--clr-backgroundx);
    color: inherit;
}

.pantry-item {
    width: 300px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: var(--clr-background);
    border: var(--clr-card) 2px solid;
    border-radius: var(--button-border-large);
    -webkit-box-shadow:var(--box-shadow);
            box-shadow:var(--box-shadow);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.ingredient-quantity {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--clr-card);
    border-radius: var(--button-border-medium);
    font-size: var(--font-size-large);
    color: var(--clr-font-sub);
}

.counter-container {
    padding: var(--padding-extra-small) var(--padding-small);
    text-align: center;
    height: 100%;
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-radius: var(--button-border-large) var(--button-border-large) 0 0;
}

.counter {
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: var(--button-border-medium);
    font-size: var(--font-size-large);
    color: var(--clr-background);
}

.sub-pantry-text {
    font-size: var(--font-size-small);
    text-align: right;
}

.quantity-button {
    height: 40px;
    width: 30px;
    border: none;
    background-color: inherit;
    border-radius: var(--button-border-medium);
    color: var(--clr-font-sub);
    font-size: var(--font-size-large);
    -webkit-transition:0.3s ease, 0.3s ease;
    -o-transition:0.3s ease, 0.3s ease;
    transition:0.3s ease, 0.3s ease;
}
.quantity-number {
    width: 50px
}
.add-quantity:hover {
    color: var(--clr-background);
    background-color: var(--clr-button);
}

.subtract-quantity:hover {
    color: var(--clr-background);
    background-color: var(--clr-button-red);
}

.button-close-pantry-item {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    font-size: var(--font-size-large);
}

.button-close-pantry-item:hover {
    color: var(--clr-button);
}
#grocery-list-container {
    /*dimensions*/
    overflow-x: scroll;
}
#grocery-list-table {
    /*position*/
    margin: 0 auto;
    padding: var(--padding-medium);
    /*dimensions*/
    max-width: 80vw;
    max-width: 1200px;
    /*box*/
    background-color: var(--clr-card);
    border-radius: var(--button-border-large);
    -webkit-box-shadow:var(--box-shadow);
            box-shadow:var(--box-shadow);
    overflow-x: auto;
    /*text*/
    text-align: center;
}

.table-head {
    /*dimensions*/
    min-height: 80px;
    /*text*/
    font-size: var(--font-size-large);
}
th {

    /*flex-box*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
tr {
    /*dimensions*/
    min-height: 50px;
    /*flex-box*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    /*box*/
    border-bottom: var(--clr-background) 2px solid;
}

#head-row {
    /*box*/
    border-bottom: var(--clr-button) 2px solid;

}

td {
    /*dimensions*/
    width:100%;
    /*flex-box*/
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.grocery-list-heading {
    /*box*/
    border: none;
    /*text*/
    font-size: var(--font-size-large);
    text-align: center;
}

.grocery-list-entry {
    /*box*/
    border: none;
    /*text*/
    font-size: var(--font-size-medium);
    text-align: center;
}
input {
    background-color: var(--clr-card);
}

.add-remove-row {
    /*position*/
    margin: 0 auto;
    padding: var(--padding-medium);
    gap: 25px;
    /*flex-box*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*text*/
    text-align: center;
}

#remove-row {
    /*box*/
    background-color: var(--clr-button-red);
}

#quiz-container {
    /*position*/
    margin: auto;
    text-align: center;
    /*dimensions*/
    height: 400px;
    max-width: 600px;
    /*box*/
    background-color: var(--clr-card);
    -webkit-box-shadow:var(--box-shadow);
            box-shadow:var(--box-shadow);
    border-radius: var(--button-border-large);
    /*animation*/
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.top-container-quiz {
    /*position*/
    text-align: center;
    /*dimensions*/
    height: 325px;
    /*flex-box*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.top-container-quiz > h3, .top-container-quiz > p {
    /*position*/
    padding: var(--padding-medium);
    padding-bottom: 0;
}

.quiz-image {
    /*dimensions*/
    width: 100%;
    height:100%;
    /*box*/
    -o-object-fit: cover;
       object-fit: cover;
    overflow-y: hidden;
    border-radius: var(--button-border-large) var(--button-border-large) 0 0;
}

#question-container {
    /*dimensions*/
    height: 75px;
    gap: 15px;
    /*flex-box*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /*box*/
    border-radius: var(--button-border-large);
}
#number-of-rounds {
    height: var(--button-height-large);
    width: 75px;
    background-color: var(--clr-background);
    border-radius: var(--button-border-large);
    -webkit-box-shadow:var(--box-shadow);
            box-shadow:var(--box-shadow);
    border: none;
    text-align: center;
    font-size: var(--font-size-button);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
#quiz-results {
    /*position*/
    margin: 0 auto;
    padding: var(--padding-medium);
    gap: 25px;
    /*flex-box*/
    display:none;
    /*text*/
    text-align: center;
}
.answer-container {
    /*dimensions*/
    height: auto;
    /*position*/
    margin: 0 auto;
    gap: 25px;
    /*flex-box*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /*text*/
    text-align: center;
}

#no-button {
    /*box*/
    background-color: var(--clr-button-red);
}

#point-container {
    /*position*/
    margin: 0 auto;
    gap: 25px;
    /*flex-box*/
    display: none;
    /*text*/
    text-align: center;

}

.pop-up {
    /*position*/
    position: absolute;
    z-index: 1000;
    top: 20vh;
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
    /*dimensions*/
    width: 80%;
    max-width: 400px;
    /*box*/
    background-color: var(--clr-card);
    border-radius: var(--button-border-large);
    -webkit-box-shadow:var(--box-shadow);
            box-shadow:var(--box-shadow);
    /*text*/
    text-align: center;
    /*animation*/
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
footer {
    padding: var(--padding-small);
    min-height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--clr-card);
    border-radius: var(--button-border-large) var(--button-border-large) 0 0;
}

footer > div {
    padding: var(--padding-medium);
    width: 400px;
    line-height: 30px;
}

#footer-left > h4, #footer-right > h4 {
    padding: var(--padding-small) 0;
}

#footer-left > ul {
    list-style-type: none;
}

.footer-list-item {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.footer-list-item:hover {
    text-decoration: underline;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

@media screen and (min-width: 1000px) {
    #small-screen-message {
        display: none;
    }
}